@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

$breakpoints-up: (
  "medium": "640px",
  "large": "1024px",
  "xlarge": "1400px",
);

$breakpoints-down: (
  "small": "639px",
  "medium": "1023px",
  "large": "1399px",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: rgb(84, 84, 84);
  background-color: rgb(246, 249, 254);
}

h1 {
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  font-weight: 700;
  margin: 0;
  width: clamp(300px, 80vw, 700px);
}

// p {
//   @include breakpoint-down(small) {
//     font-size: 0.9rem;
//   }
// }

a {
  text-decoration: none;
  color: rgb(84, 84, 84);
  font-size: 1.1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @include breakpoint-down(medium) {
    justify-content: center;
    margin: 2rem 0;
  }
}

input {
  height: 60px;
  width: clamp(330px, 40vw, 350px);
  padding-left: 1rem;
  font-size: 1.1rem;
  color: rgb(181, 182, 183);
  border-radius: 10px;
  border: 1px solid rgb(221, 223, 231);

  &:focus {
    outline: none;
  }
}

button {
  background-color: rgb(56, 41, 102);
  color: white;
  border: 0;
  font-size: 1.1rem;
  height: 60px;
  width: 146px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  @include breakpoint-down(small) {
    width: 330px;
  }
}

.container {
  max-width: 1440px;

  padding: 3rem 7rem;
  margin: auto;

  @include breakpoint-down(medium) {
    padding: 3rem 5rem;
  }

  @include breakpoint-down(small) {
    padding: 3rem 1rem;
  }
}

header {
  display: flex;
  justify-content: space-between;

  .logo {
    width: 146px;
    height: 36px;
    background: url(/Assets/Logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 0;
  }

  nav {
    .links {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    @include breakpoint-down(medium) {
      display: none;
    }
  }

  .menu {
    display: none;
    margin: auto 0;

    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      background-color: black;
    }

    @include breakpoint-down(medium) {
      display: block;
    }
  }
}

.hero {
  display: flex;
  margin: 5rem 0;

  &-text {
    flex: 2;

    h1 {
      @include breakpoint-down(medium) {
        margin: 0 auto;
        padding: 1.5rem 0;
      }
    }

    p {
      &:first-of-type {
        background-color: hsl(255, 43%, 28%);
        color: hsl(258, 43%, 83%);
        width: clamp(300px, 50vw, 520px);
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: 2rem;

        @include breakpoint-down(medium) {
          margin: 0 auto;
        }

        a {
          font-weight: 600;
          color: hsl(258, 43%, 83%);
          text-decoration: underline;
        }
      }

      &:nth-of-type(2) {
        width: clamp(330px, 60vw, 730px);

        @include breakpoint-down(medium) {
          margin: 0 auto;
        }
      }
    }

    @include breakpoint-down(medium) {
      text-align: center;
    }
  }

  &-image {
    flex: 1;
    width: 696px;
    height: 500px;
    background: url(/Assets/Illustration.png);
    background-repeat: no-repeat;
    background-size: contain;

    @include breakpoint-down(medium) {
      display: none;
    }
  }
}

footer {
  p {
    font-weight: 600;
  }

  .companies {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .icon {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .atlassian {
      background: url("/Assets/Atlassian\ Icon.svg");
    }

    .behance {
      background: url("/Assets/Behance\ Icon.svg");
    }

    .bing {
      background: url("/Assets/Bing\ Icon.svg");
    }

    .bitbucket {
      background: url("/Assets/Bitbucket\ Icon.svg");
    }

    .dropbox {
      background: url("/Assets/Dropbox\ Icon.svg");
    }

    .twitch {
      background: url("/Assets/Twitch\ Icon.svg");
    }

    .twitter {
      background: url("/Assets/Twitter\ Icon.svg");
    }
  }
}
